.tag {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.tag span {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5rem;
}
.tag svg {
	width: 1.2rem;
	height: 1.2rem;
}
