*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-primary: #002f59;
	--color-secondary: #f38a75;
	--color-background: #fdefec;
	--color-accent: #47c4f2;
	--color-neutral: #cff0fc;
	--color-error: #f03e3e;
	--color-success: #c9f299;
}

body {
	font-family: "IBM Plex Sans", sans-serif;
	background-color: var(--color-background);
	color: var(--color-primary);
}
