.section {
	margin-block: 2rem;
}

.section h2 {
	margin-bottom: 1rem;
}

.cardList {
	display: flex;
	overflow-x: scroll;
	white-space: nowrap;
	scroll-behavior: smooth;
	gap: 10px;
}
.cardList > * {
	flex: 0 0 auto;
}
